/* Reset CSS */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #343a40; /* Couleur de fond de la navbar */
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  color: #ffffff; /* Couleur du texte de la navbar */
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Couleur du texte de la navbar au survol */
}
/*réglages prédéfinies pour chaque sections*/
section {
  height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}
/* Hero Section */
.hero-section {
  text-align: center;
  padding: 100px 0;
  background-size: cover;
  color: #ffffff; /* Couleur du texte de la section héros */
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Features Section */
.features-section {
  padding: 50px 0;
}

.feature {
  text-align: center;
}

.feature h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.feature p {
  font-size: 1.1rem;
}
/* Expérience Section */
#experience {
  padding: 50px 0;
}

/* Compétence Section */
#competence {
  background-color: #f8f9fa; /* Couleur de fond de la section compétences */
  padding: 50px 0;
}

/* Projets Section */
#projet {
  padding: 50px 0;
}

/* Parcours Section */
#parcours {
  background-color: #f8f9fa; /* Couleur de fond de la section parcours professionnel */
  padding: 50px 0;
}


/* Contact Section */
#contact {
  background-color: #f8f9fa; /* Couleur de fond de la section contact */
  padding: 50px 0;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

/* Bouton */
.btn-primary {
  background-color: #007bff; /* Couleur de fond du bouton primaire */
  color: #ffffff; /* Couleur du texte du bouton primaire */
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3; /* Couleur de fond du bouton primaire au survol */
}

/* Ajoutez plus de styles au besoin */

