body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color:#0f0d0d;
 padding-top:56px;
}

/*NAVBAR*/

.navbar-nav{
  margin-left: auto;
}
.navbar-nav .nav-item-icon a .ri{
  font-size: 25px;
  margin-right: 30px;

}

.navbar-nav .nav-item-icon a {
  text-decoration: none;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #424242;  
  margin-left: 20px;
}

.navbar-nav .nav-link {
  color: #424242;  
  margin-right: 10px;
}

/*icone de la barre nav*/
.nav-item-icon{
 width: 30px;
 height: auto;
}
/*changer la couleur par défaut de l'icone*/
.nav-item-icon a i {
  color: #ffc107;
}
/*logo navbar*/

  .navbar-brand a{
    color: #252424;  
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
}

/*réglages prédéfinies pour chaque sections*/
section {
  height: auto;
    text-align: center;
    display: flex;
    justify-content: center
}

.rounded-image{
  border-radius: 10px; 
}
.rounded-square{
  border-radius: 10px; 
  width: 100px;
  height: 100px;
}

#accueil{
  background-image: url(images/hero_section.png);
  height:100vh;
}

/*BOUTONS*/
.btn-primary {
  background-color: #007bff; 
  color: #ffffff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3; 
}
.button-cv{
  float:left ;
}
/* Expérience Section */
#experience {
  padding: 70px 0;
}
/*ACCUEIL SECTION*/


/*PROPOS SECTION*/
#propos{
  padding: 100px 0;
  height: auto;
  background-color:#0f0d0d;
  color: #ffffff;
  
}
.title-propos{
  text-align: left;
}
.item-propos{
  text-align: left;
}
.color-icon{
  color:#ffc107 ;
}
.icon-propos{
  float: left;
}
/* COMPETENCES SECTION */
#competence{
  background-color:#0f0d0d;
  color: #fff;
}
#competence .container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 960px;
}
#competence h2{
  margin-bottom: 20px;
}
img[alt="icon-parcours"]{
  width: 45px;
  height: 45px;
}
/*Icones  competences*/
.circle-competences{
  background-color: #ffc107;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.circle-competences img {
max-width: 100%;
max-height: 100%;
transition: transform 0.3s ease-in-out;
}
.circle-competences:hover{
 transform: scale(1.2);
}
.row-cols-md-3 .col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row .justify-content-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle-competences {
  background-color: #ffc107;
  border-radius: 50%;
  width: 80px; 
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


.circle-competences img {
  max-width: 100%;
  max-height: 100%;
}


.col-md-4 img {
  display: block;
  margin: 0 auto;
}
/*PROJETS SECTION */
#projets {
  background-color: #0f0d0d;
  padding: 70px 0;
  color:#fff
}

#projets h1{
  margin-bottom: 20px;
}
#projets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding: 20px;
  text-align: center; 
}

.project-card {
  width: 350px; 
  height: 350px; 
  background-color: #0f0d0d;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.project-card:hover .project-content {
  opacity: 1;
}

/*SECTION PARCOURS*/
#parcours {
  padding: 80px 0;
  display: flex;
flex-wrap: wrap;
background-color:#0f0d0d;


}
.parcours-title{
  color: #ffc107;
}
#parcours-pro{
  color: #000000;
}

.parcours h3,
.parcours .card {
  margin: 0 auto;
}
.card{
  background-color:#0f0d0d;
border: none; 
border-radius: 15px ;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.card-body{
  padding: 20px;
}
.card-equal{
  height: 100%;
}
.list-unstyled li{
border-bottom: 1px solid #ffc107;
padding: 20px 0;
}
.list-unstyled li:last-child{
  border-bottom: none;
  
  }
@media (max-width: 768px) {
  .parcours .col-md-6 {
    width: 100%;
  }
}

/*SECTION CONTACT*/
#contact {
   background-color:#0f0d0d;
  padding: 70px 0;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

/*FOOTER*/
#footer{
  background-color:#ffc107;
}

